@layer components {
  .swiper-pagination {
    margin-top: 2rem !important;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    background-color: #bdc2d3 !important; /* cor normal */
    opacity: 1 !important;
    width: 20px !important;
    height: 2px !important;
  }

  .swiper-pagination-bullet-active {
    width: 80px !important;
    height: 2px !important;
    background-color: #082f51 !important; /* cor quando ativa (ex: vermelho) */
    opacity: 1 !important;
  }
}

@font-face {
  font-family: "garet";
  src: url(fonts/garet/Garet-Book.woff2);
}

@font-face {
  font-family: "inter";
  src: url(fonts/Inter/static/Inter_18pt-Regular.ttf);
}

.bianca {
  font-family: "garet", sans-serif;
}

.inter {
  font-family: "inter", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-linear {
  animation: scroll 15s linear infinite;
}
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotateInfinite 60s linear infinite;
}

@keyframes loader-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loader-bar {
  animation: loader-bar 2s linear infinite;
}
